PARTIE_2_ClassificationComposants/3-NoteRED/flows.json
[
    {
        "id": "tab-dashboard",
        "type": "tab",
        "label": "Dashboard Flow",
        "disabled": false,
        "info": "Flow pour incrémenter les compteurs et afficher sur le Dashboard"
    },
    {
        "id": "serial-in",
        "type": "serial in",
        "z": "tab-dashboard",
        "name": "Données Série",
        "serial": "3c3101bbd1aef582",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "json-parser"
            ]
        ]
    },
    {
        "id": "json-parser",
        "type": "json",
        "z": "tab-dashboard",
        "name": "Parser JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "switch-classes"
            ]
        ]
    },
    {
        "id": "switch-classes",
        "type": "switch",
        "z": "tab-dashboard",
        "name": "Tri des composants",
        "property": "payload.composant",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resistance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "condensateur",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "counter-resistance"
            ],
            [
                "counter-condensateur"
            ],
            [
                "counter-led"
            ]
        ]
    },
    {
        "id": "counter-resistance",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Compteur Résistance",
        "func": "context.resistance = context.resistance || 0;\ncontext.resistance += 1;\nmsg.payload = context.resistance;\nreturn msg;",
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "gauge-resistance",
                "81726647b5b0a6e2"
            ]
        ]
    },
    {
        "id": "counter-condensateur",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Compteur Condensateur",
        "func": "context.condensateur = context.condensateur || 0;\ncontext.condensateur += 1;\nmsg.payload = context.condensateur;\nreturn msg;",
        "outputs": 1,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "gauge-condensateur",
                "82623ce78e536377"
            ]
        ]
    },
    {
        "id": "counter-led",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Compteur LED",
        "func": "context.led = context.led || 0;\ncontext.led += 1;\nmsg.payload = context.led;\nreturn msg;",
        "outputs": 1,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "gauge-led",
                "ed865acecd49b357"
            ]
        ]
    },
    {
        "id": "gauge-resistance",
        "type": "ui_gauge",
        "z": "tab-dashboard",
        "name": "Resistance",
        "group": "1f2cd566419b4067",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "cpt_resistance",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge-condensateur",
        "type": "ui_gauge",
        "z": "tab-dashboard",
        "name": "Condensateur",
        "group": "1f2cd566419b4067",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "cpt_condensateur",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "gauge-led",
        "type": "ui_gauge",
        "z": "tab-dashboard",
        "name": "LED",
        "group": "1f2cd566419b4067",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "cpt_led",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed865acecd49b357",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "1f2cd566419b4067",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpt_led",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#005900",
        "x": 1000,
        "y": 480,
        "wires": []
    },
    {
        "id": "81726647b5b0a6e2",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "1f2cd566419b4067",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpt_resistance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "82623ce78e536377",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "1f2cd566419b4067",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpt_condensateur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "3c3101bbd1aef582",
        "type": "serial-port",
        "name": "",
        "serialport": "COM8",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "1f2cd566419b4067",
        "type": "ui_group",
        "name": "dashboard",
        "tab": "3527655e9f511d16",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3527655e9f511d16",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
